APP_ENV=dev

# Postgres (docker-compose)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=rightsizer
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Used later by FastAPI/SQLAlchemy
DATABASE_URL=postgresql+psycopg2://postgres:postgres@localhost:5432/rightsizer

# AWS (do NOT commit real creds)
AWS_REGION=us-east-1
AWS_PROFILE=default
